  .header h1 {
    color: #929094;
    font-size: 24px;
  }

  .header h2 {
    font-weight: 500;
    font-size: 40px;
  }

  .popUp {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 196px;
    background-color: #EFEFFE;
    width: 845px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: #47464A;
    font-size: 30px;
    padding: 20px;
    z-index: 4; 
   }

   .popUpContainer {
     align-self: flex-end;
   }

   .popUp button {
    border-radius: 20px;
    background-color: #47464A;
    border: solid #47464A;
    color: #FFFFFF;
   }

   .overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    z-index: 3;
}

@media (min-width: 768px) {
  
  .header {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
    height: 122px;
  }

  .headerItem1 {
    align-self: center;
  }

  .headerItem2 {
    align-self: center;
  } 
}