@media (min-width: 768px) {
  .header h1 {
    color: #929094;
    font-size: 24px;
  }

  .header {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
  }

  .headerItem1 {
    align-self: center;
  }

  .headerItem2 {
    align-self: center;
  }
}
