body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #ffffff;
  color: #1b1b1f;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  color: #47464a;
}

h3 {
  font-size: 24px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 713px;
  gap: 50px;
}

.mainContainer img {
  height: 326px;
  width: 522px;
}

.textContainer {
  width: 33em;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  height: 370px;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  align-content: flex-start;
  padding: 25px 0 0 0;
  font-size: 11px;
}

.radioForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #efefff;
  height: 3000px;
}

.radioContainer {
  display: flex;
  flex-wrap: row-wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  padding: 36px 0px;
  border-radius: 16px;
  width: 744px;
}

.openQContainer {
  display: flex;
  flex-direction: column;
  align-items: space-around;;
  background-color: #ffffff;
  padding: 36px 0px;
  border-radius: 16px;
  width: 744px;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.resultHead {
  background-color: #efefff;
  padding: 0 24px;
  border-radius: 10px;
  width: 648px;
}

.resultBody {
  background-color: #fdf6f4;
  padding: 24px 24px;
  border-radius: 10px;
  width: 648px;
}

label {
  flex-basis: 53%;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #E4E1E6;
  /* #929094*/
}

input[type="radio"] {
  border: 4px solid #ffffff;
  box-shadow: 0 0 0 2.67px #929094;
  appearance: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  transition: all ease-in 0.2s;
}

input:checked {
  background-color: #1b2678;
  box-shadow: 0 0 0 2.67px #1b2678;
}

.primaryButton {
  background-color: #4c57a9;
  border: 2px solid #4c57a9;
  border-radius: 24px;
  color: #ffffff;
  font-family: "Josefin Sans";
  font-size: 1.4rem;
  padding: 9px 55px;
}

.primaryButton:hover {
  background-color: #9aa5fd;
  border: 2px solid #9aa5fd;
}

.primaryButton:active {
  background-color: #000965;
  border: 2px solid #000965;
}

.primaryButton:disabled {
  color: #929094;
  background-color: #e4e1e6;
  border: 2px solid #e4e1e6;
}

.secondaryButton {
  background-color: #ffffff;
  border: 2px solid #4c57a9;
  border-radius: 24px;
  color: #4c57a9;
  font-family: "Josefin Sans";
  font-size: 1.4rem;
  padding: 9px 55px;
}
.secondaryButton:hover {
  color: #9aa5fd;
  background-color: #efefff;
  border: 2px solid #9aa5fd;
}
.secondaryButton:active {
  color: #000965;
  background-color: #efefff;
  border: 2px solid #000965;
}

.secondaryButton:disabled {
  color: #929094;
  background-color: #ffffff;
  border: 2px solid #929094;
}
